SPDX-FileCopyrightText: Open Energy Transition gGmbH
SPDX-License-Identifier: MIT

This notebooks compares the available PECD data with the necessary data for TYNDP Scenarios for:
- [Wind Offshore](#wind-offshore)
- [Wind Onshore](#wind-onshore)
- [LF Solar PV Rooftop](#pv-rooftop)
- [LF Solar PV Utility](#pv-utility)

# Imports

In [1]:
import pandas as pd

# Load raw data

In [2]:
offshore_hubs = pd.read_excel(
    "../data/tyndp_2024_bundle/Offshore hubs/GENERATOR.xlsx",
    sheet_name="ZONE_POTENTIAL",
).replace("UK", "GB", regex=True)

In [3]:
investment_data_generators = pd.read_excel(
    "../data/tyndp_2024_bundle/Investment Datasets/GENERATOR.xlsx"
)
investment_data_trajectories = pd.read_excel(
    "../data/tyndp_2024_bundle/Investment Datasets/TRAJECTORY.xlsx"
)

# Load processed PECD data & compare

<a id='wind-offshore'></a>
## Wind Offshore

Load and investigate processed pecd data for Wind Offshore for 2030, 2040 and 2050

In [4]:
pecd_offshore_2030 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_Wind_Offshore_2030.csv", index_col=0
)
pecd_offshore_2040 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_Wind_Offshore_2040.csv", index_col=0
)
pecd_offshore_2050 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_Wind_Offshore_2050.csv", index_col=0
)

### 2030

Filter for columns with no data

In [5]:
pecd_offshore_2030.loc[:, (pecd_offshore_2030 == 0).all()]

,ALOR001,BGOR001,CYOR001,GROR002,HROH001,MEOR001,MTOR001,UAOR001,GBOH001,GBOH002
2013-03-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2013-03-07 19:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 20:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
pecd_not_available = set(
    pecd_offshore_2030.loc[:, (pecd_offshore_2030 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_offshore_2030.columns))} nodes is missing."
)
pecd_not_available

Data for 10 out of 56 nodes is missing.

{'ALOR001',
 'BGOR001',
 'CYOR001',
 'GBOH001',
 'GBOH002',
 'GROR002',
 'HROH001',
 'MEOR001',
 'MTOR001',
 'UAOR001'}

Compare with Offshore nodes that have no capacity potential

In [7]:
tech_not_available = set(
    offshore_hubs.query("MAX_MW == 0 and YEAR == 2030").OFFSHORE_NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

11 techs have MAX_MW of zero in that year.

{'ALOR001',
 'BGOR001',
 'CYOR001',
 'GBOH001',
 'GBOH002',
 'MEOR001',
 'NOMOH01',
 'NONOH01',
 'NOSOH02',
 'SEOH001',
 'UAOR001'}

Look at the difference

In [8]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(offshore_hubs.OFFSHORE_NODE)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 3 out of 45 nodes with available capacity is missing.

{'GROR002', 'HROH001', 'MTOR001'}

Verify that the nodes with missing data are indeed included with as a node and with a max potential > 0

In [9]:
difference.difference(
    set(
        offshore_hubs.query(
            "OFFSHORE_NODE in @difference and YEAR == 2030 and MAX_MW > 0"
        ).OFFSHORE_NODE.unique()
    )
)

set()

In fact the nodes are included in the Offshore Hub data for 2030 and have a max capacity > 0.

- `GROR002`
- `HROH001`
- `MTOR001`

⚠️ Therefore, some necessary PECD data is **missing** for `Wind Offshore` in 2030!

### 2040

Filter for columns with no data

In [10]:
pecd_offshore_2040.loc[:, (pecd_offshore_2040 == 0).all()]

,ALOR001,BGOR001,CYOR001,GROR002,HROH001,MEOR001,MTOR001,UAOR001,GBOH001,GBOH002
2013-03-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2013-03-07 19:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 20:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
pecd_not_available = set(
    pecd_offshore_2040.loc[:, (pecd_offshore_2040 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_offshore_2040.columns))} nodes is missing."
)
pecd_not_available

Data for 10 out of 56 nodes is missing.

{'ALOR001',
 'BGOR001',
 'CYOR001',
 'GBOH001',
 'GBOH002',
 'GROR002',
 'HROH001',
 'MEOR001',
 'MTOR001',
 'UAOR001'}

Compare with Offshore nodes that have no capacity potential

In [12]:
tech_not_available = set(
    offshore_hubs.query("MAX_MW == 0 and YEAR == 2040").OFFSHORE_NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

6 techs have MAX_MW of zero in that year.

{'ALOR001', 'CYOR001', 'GBOH001', 'GBOH002', 'MEOR001', 'UAOR001'}

Look at the difference

In [13]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(offshore_hubs.OFFSHORE_NODE)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 4 out of 50 nodes with available capacity is missing.

{'BGOR001', 'GROR002', 'HROH001', 'MTOR001'}

Verify that the nodes with missing data are indeed included as a node and with a max potential > 0

In [14]:
difference.difference(
    set(
        offshore_hubs.query(
            "OFFSHORE_NODE in @difference and YEAR == 2040 and MAX_MW > 0"
        ).OFFSHORE_NODE.unique()
    )
)

set()

In fact the nodes are included in the Offshore Hub data for 2040 and have a max capacity > 0.

- `BGOR001`
- `GROR002`
- `MTOR001`
- `HROH001`

⚠️ Therefore, some necessary PECD data is **missing** for `Wind Offshore` in 2040!

### 2050

Filter for columns with no data

In [15]:
pecd_offshore_2050.loc[:, (pecd_offshore_2050 == 0).all()]

,ALOR001,BGOR001,CYOR001,DEOH002,DEOR001,DKEOR01,DKWOH01,DKWOR01,EEOH001,ESOH001,...,SEOR001,UAOR001,GBNIOR1,GBOH001,GBOH002,GBOH003,GBOH004,GBOH005,GBOH006,GBOR001
2013-03-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-07 19:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 20:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
pecd_not_available = set(
    pecd_offshore_2050.loc[:, (pecd_offshore_2050 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_offshore_2050.columns))} nodes is missing."
)
pecd_not_available

Data for 53 out of 56 nodes is missing.

{'ALOR001',
 'BGOR001',
 'CYOR001',
 'DEOH002',
 'DEOR001',
 'DKEOR01',
 'DKWOH01',
 'DKWOR01',
 'EEOH001',
 'ESOH001',
 'ESOH002',
 'ESOH003',
 'FIOH001',
 'FROH001',
 'FROH002',
 'FROH003',
 'GBNIOR1',
 'GBOH001',
 'GBOH002',
 'GBOH003',
 'GBOH004',
 'GBOH005',
 'GBOH006',
 'GBOR001',
 'GROR001',
 'GROR002',
 'HROH001',
 'IEOH001',
 'ITCNOR1',
 'ITCSOR1',
 'ITN1OR1',
 'ITS1OR1',
 'ITSAOR1',
 'ITSIOR1',
 'LTOR001',
 'LVOH001',
 'MEOR001',
 'MTOR001',
 'NLOH001',
 'NLOR001',
 'NOMOH01',
 'NONOH01',
 'NOSOH01',
 'NOSOH02',
 'NOSOR01',
 'PLOH001',
 'PTOH001',
 'ROOR001',
 'SEOH001',
 'SEOH002',
 'SEOH003',
 'SEOR001',
 'UAOR001'}

Compare with Offshore nodes that have no capacity potential

In [17]:
tech_not_available = set(
    offshore_hubs.query("MAX_MW == 0 and YEAR == 2050").OFFSHORE_NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

4 techs have MAX_MW of zero in that year.

{'ALOR001', 'CYOR001', 'MEOR001', 'UAOR001'}

Look at the difference

In [18]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(offshore_hubs.OFFSHORE_NODE)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 49 out of 52 nodes with available capacity is missing.

{'BGOR001',
 'DEOH002',
 'DEOR001',
 'DKEOR01',
 'DKWOH01',
 'DKWOR01',
 'EEOH001',
 'ESOH001',
 'ESOH002',
 'ESOH003',
 'FIOH001',
 'FROH001',
 'FROH002',
 'FROH003',
 'GBNIOR1',
 'GBOH001',
 'GBOH002',
 'GBOH003',
 'GBOH004',
 'GBOH005',
 'GBOH006',
 'GBOR001',
 'GROR001',
 'GROR002',
 'HROH001',
 'IEOH001',
 'ITCNOR1',
 'ITCSOR1',
 'ITN1OR1',
 'ITS1OR1',
 'ITSAOR1',
 'ITSIOR1',
 'LTOR001',
 'LVOH001',
 'MTOR001',
 'NLOH001',
 'NLOR001',
 'NOMOH01',
 'NONOH01',
 'NOSOH01',
 'NOSOH02',
 'NOSOR01',
 'PLOH001',
 'PTOH001',
 'ROOR001',
 'SEOH001',
 'SEOH002',
 'SEOH003',
 'SEOR001'}

Verify that the nodes with missing data are indeed included as a node and with a max potential > 0

In [19]:
difference.difference(
    set(
        offshore_hubs.query(
            "OFFSHORE_NODE in @difference and YEAR == 2050 and MAX_MW > 0"
        ).OFFSHORE_NODE.unique()
    )
)

set()

In fact all the nodes are included in the Offshore Hub data for 2050 and have a max capacity > 0.

- `BGOR001`
- `DEOH002`
- `DEOR001`
- `DKEOR01`
- `DKWOH01`
- `DKWOR01`
- `EEOH001`
- `ESOH001`
- `ESOH002`
- `ESOH003`
- `FIOH001`
- `FROH001`
- `FROH002`
- `FROH003`
- `GBNIOR1`
- `GBOH001`
- `GBOH002`
- `GBOH003`
- `GBOH004`
- `GBOH005`
- `GBOH006`
- `GBOR001`
- `GROR001`
- `GROR002`
- `HROH001`
- `IEOH001`
- `ITCNOR1`
- `ITCSOR1`
- `ITN1OR1`
- `ITS1OR1`
- `ITSAOR1`
- `ITSIOR1`
- `LTOR001`
- `LVOH001`
- `MTOR001`
- `NLOH001`
- `NLOR001`
- `NOMOH01`
- `NONOH01`
- `NOSOH01`
- `NOSOH02`
- `NOSOR01`
- `PLOH001`
- `PTOH001`
- `ROOR001`
- `SEOH001`
- `SEOH002`
- `SEOH003`
- `SEOR001`

⚠️ Therefore, some necessary PECD data is **missing** for `Wind Offshore` in 2050!

<a id='wind-onshore'></a>
## Wind Onshore

Load and investigate processed pecd data for Wind Onshore for 2030 and 2040.

**Note!** No comparison can be made for 2050 as no Wind Onshore data at all has been provided in the PECD dataset.

Therefore all necessary data for Wind Onshore 2050 is missing!

In [20]:
pecd_onshore_2030 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_Wind_Onshore_2030.csv", index_col=0
)
pecd_onshore_2040 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_Wind_Onshore_2040.csv", index_col=0
)

### 2030

Filter for columns with no data

In [21]:
pecd_onshore_2030.loc[:, (pecd_onshore_2030 == 0).all()]

                     LUB1  LUF1  LUV1  MT00  ITCO  ITVI
2013-03-01 00:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 01:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 02:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 03:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 04:00:00   0.0   0.0   0.0   0.0   0.0   0.0
...                   ...   ...   ...   ...   ...   ...
2013-03-07 19:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 20:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 21:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 22:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 23:00:00   0.0   0.0   0.0   0.0   0.0   0.0

[168 rows x 6 columns]

In [22]:
pecd_not_available = set(
    pecd_onshore_2030.loc[:, (pecd_onshore_2030 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_onshore_2030.columns))} nodes is missing."
)
pecd_not_available

Data for 6 out of 54 nodes is missing.

{'ITCO', 'ITVI', 'LUB1', 'LUF1', 'LUV1', 'MT00'}

Compare with Offshore nodes that have no capacity potential

In [23]:
tech_not_available = set(
    investment_data_trajectories.query(
        "TECHNOLOGY.str.contains('Wind Onshore') and `MAX CAPACITY [MW]` == 0  and YEAR == 2030"
    ).NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

6 techs have MAX_MW of zero in that year.

{'DEKF', 'DKKF', 'LUB1', 'LUF1', 'LUV1', 'MT00'}

In [24]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(pecd_onshore_2030.columns)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 2 out of 48 nodes with available capacity is missing.

{'ITCO', 'ITVI'}

Verify that the nodes with missing data are indeed included with as a node and with a max potential > 0

In [25]:
(
    difference.difference(
        set(
            investment_data_trajectories.query(
                "NODE in @difference "
                "and TECHNOLOGY.str.contains('Wind Onshore') "
                "and YEAR == 2050 "
                "and `MAX CAPACITY [MW]` > 0"
            ).NODE.unique()
        )
    )
)

{'ITCO', 'ITVI'}

The missing nodes `ITCO` and `ITVI` are in fact not included in the investment data set. This is because they are virtual nodes used for modelling purposes in Italy.

✅ Therefore, all necessary PECD data is **available** for `Wind Onshore` in 2030!

### 2040

Filter for columns with no data

In [26]:
pecd_onshore_2040.loc[:, (pecd_onshore_2040 == 0).all()]

                     LUB1  LUF1  LUV1  MT00  ITCO  ITVI
2013-03-01 00:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 01:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 02:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 03:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 04:00:00   0.0   0.0   0.0   0.0   0.0   0.0
...                   ...   ...   ...   ...   ...   ...
2013-03-07 19:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 20:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 21:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 22:00:00   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 23:00:00   0.0   0.0   0.0   0.0   0.0   0.0

[168 rows x 6 columns]

In [27]:
pecd_not_available = set(
    pecd_onshore_2040.loc[:, (pecd_onshore_2040 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_onshore_2040.columns))} nodes is missing."
)
pecd_not_available

Data for 6 out of 54 nodes is missing.

{'ITCO', 'ITVI', 'LUB1', 'LUF1', 'LUV1', 'MT00'}

Compare with Offshore nodes that have no capacity potential

In [28]:
tech_not_available = set(
    investment_data_trajectories.query(
        "TECHNOLOGY.str.contains('Wind Onshore') and `MAX CAPACITY [MW]` == 0  and YEAR == 2040"
    ).NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

6 techs have MAX_MW of zero in that year.

{'DEKF', 'DKKF', 'LUB1', 'LUF1', 'LUV1', 'MT00'}

In [29]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(pecd_onshore_2040.columns)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 2 out of 48 nodes with available capacity is missing.

{'ITCO', 'ITVI'}

Verify that the nodes with missing data are indeed included with as a node and with a max potential > 0

In [30]:
(
    difference.difference(
        set(
            investment_data_trajectories.query(
                "NODE in @difference "
                "and TECHNOLOGY.str.contains('Wind Onshore') "
                "and YEAR == 2040 "
                "and `MAX CAPACITY [MW]` > 0"
            ).NODE.unique()
        )
    )
)

{'ITCO', 'ITVI'}

The missing nodes `ITCO` and `ITVI` are in fact not included in the investment data set. This is because they are virtual nodes used for modelling purposes in Italy.

✅ Therefore, all necessary PECD data is **available** for `Wind Onshore` in 2040!

### 2050

In [31]:
tech_available = set(
    investment_data_trajectories.query(
        "TECHNOLOGY.str.contains('Wind Onshore') and `MAX CAPACITY [MW]` > 0  and YEAR == 2050"
    ).NODE.unique()
)
print(
    f"{len(tech_available)} techs are available with MAX_MW > zero in that year. The data is missing."
)
tech_available

48 techs are available with MAX_MW > zero in that year. The data is missing.

{'AL00',
 'AT00',
 'BA00',
 'BE00',
 'BG00',
 'CH00',
 'CY00',
 'CZ00',
 'DE00',
 'DKE1',
 'DKW1',
 'EE00',
 'ES00',
 'FI00',
 'FR00',
 'GR00',
 'GR03',
 'HR00',
 'HU00',
 'IE00',
 'ITCA',
 'ITCN',
 'ITCS',
 'ITN1',
 'ITS1',
 'ITSA',
 'ITSI',
 'LT00',
 'LUG1',
 'LV00',
 'ME00',
 'MK00',
 'NL00',
 'NOM1',
 'NON1',
 'NOS0',
 'PL00',
 'PT00',
 'RO00',
 'RS00',
 'SE01',
 'SE02',
 'SE03',
 'SE04',
 'SI00',
 'SK00',
 'UK00',
 'UKNI'}

⚠️ Therefore, all necessary PECD data is **missing** for `Wind Onshore` in 2050!

- `AL00`
- `AT00`
- `BA00`
- `BE00`
- `BG00`
- `CH00`
- `CY00`
- `CZ00`
- `DE00`
- `DKE1`
- `DKW1`
- `EE00`
- `ES00`
- `FI00`
- `FR00`
- `GR00`
- `GR03`
- `HR00`
- `HU00`
- `IE00`
- `ITCA`
- `ITCN`
- `ITCS`
- `ITN1`
- `ITS1`
- `ITSA`
- `ITSI`
- `LT00`
- `LUG1`
- `LV00`
- `ME00`
- `MK00`
- `NL00`
- `NOM1`
- `NON1`
- `NOS0`
- `PL00`
- `PT00`
- `RO00`
- `RS00`
- `SE01`
- `SE02`
- `SE03`
- `SE04`
- `SI00`
- `SK00`
- `UK00`
- `UKNI`

<a id='pv-rooftop'></a>
## LF Solar PV Rooftop

Load and investigate processed pecd data for Solar PV Rooftop for 2030, 2040 and 2050

Look at the difference

In [32]:
pecd_solar_rooftop_2030 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_LFSolarPVRooftop_2030.csv", index_col=0
)
pecd_solar_rooftop_2040 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_LFSolarPVRooftop_2040.csv", index_col=0
)
pecd_solar_rooftop_2050 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_LFSolarPVRooftop_2050.csv", index_col=0
)

### 2030

Filter for columns with no data

In [33]:
pecd_solar_rooftop_2030.loc[:, (pecd_solar_rooftop_2030 == 0).all()]

                     LUB1  LUF1  LUV1  NON1  SE01  ITCO  ITVI
2013-03-01 00:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 01:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 02:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 03:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 04:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                   ...   ...   ...   ...   ...   ...   ...
2013-03-07 19:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 20:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 21:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 22:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 23:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[168 rows x 7 columns]

In [34]:
pecd_not_available = set(
    pecd_solar_rooftop_2030.loc[:, (pecd_solar_rooftop_2030 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_solar_rooftop_2030.columns))} nodes is missing."
)
pecd_not_available

Data for 7 out of 54 nodes is missing.

{'ITCO', 'ITVI', 'LUB1', 'LUF1', 'LUV1', 'NON1', 'SE01'}

Compare with Offshore nodes that have no capacity potential

In [35]:
tech_not_available = set(
    investment_data_trajectories.query(
        "TECHNOLOGY.str.contains('Solar PV Rooftop') "
        "and `MAX CAPACITY [MW]` == 0 "
        "and YEAR == 2030"
    ).NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

17 techs have MAX_MW of zero in that year.

{'AL00',
 'BA00',
 'DEKF',
 'DKKF',
 'EE00',
 'FR00',
 'GR00',
 'GR03',
 'LT00',
 'LUB1',
 'LUF1',
 'LUV1',
 'ME00',
 'NON1',
 'PL00',
 'SE01',
 'SK00'}

In [36]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(pecd_solar_rooftop_2030.columns)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 2 out of 37 nodes with available capacity is missing.

{'ITCO', 'ITVI'}

Verify that the nodes with missing data are indeed included with as a node and with a max potential > 0

In [37]:
(
    difference.difference(
        set(
            investment_data_trajectories.query(
                "NODE in @difference "
                "and TECHNOLOGY.str.contains('Solar PV Rooftop') "
                "and YEAR == 2030 "
                "and `MAX CAPACITY [MW]` > 0"
            ).NODE.unique()
        )
    )
)

{'ITCO', 'ITVI'}

The missing nodes `ITCO` and `ITVI` are in fact not included in the investment data set. This is because they are virtual nodes used for modelling purposes in Italy.

✅ Therefore, all necessary PECD data is **available** for `Solar PV Rooftop` in 2030!

### 2040

Filter for columns with no data

In [38]:
pecd_solar_rooftop_2040.loc[:, (pecd_solar_rooftop_2040 == 0).all()]

                     LUB1  LUF1  LUV1  NON1  SE01  ITCO  ITVI
2013-03-01 00:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 01:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 02:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 03:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 04:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                   ...   ...   ...   ...   ...   ...   ...
2013-03-07 19:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 20:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 21:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 22:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 23:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[168 rows x 7 columns]

In [39]:
pecd_not_available = set(
    pecd_solar_rooftop_2040.loc[:, (pecd_solar_rooftop_2040 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_solar_rooftop_2040.columns))} nodes is missing."
)
pecd_not_available

Data for 7 out of 54 nodes is missing.

{'ITCO', 'ITVI', 'LUB1', 'LUF1', 'LUV1', 'NON1', 'SE01'}

Compare with Offshore nodes that have no capacity potential

In [40]:
tech_not_available = set(
    investment_data_trajectories.query(
        "TECHNOLOGY.str.contains('Solar PV Rooftop') "
        "and `MAX CAPACITY [MW]` == 0 "
        "and YEAR == 2040"
    ).NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

11 techs have MAX_MW of zero in that year.

{'AL00',
 'BA00',
 'DEKF',
 'DKKF',
 'GR03',
 'LUB1',
 'LUF1',
 'LUV1',
 'ME00',
 'NON1',
 'SE01'}

In [41]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(pecd_solar_rooftop_2040.columns)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 2 out of 43 nodes with available capacity is missing.

{'ITCO', 'ITVI'}

Verify that the nodes with missing data are indeed included with as a node and with a max potential > 0

In [42]:
(
    difference.difference(
        set(
            investment_data_trajectories.query(
                "NODE in @difference "
                "and TECHNOLOGY.str.contains('Solar PV Rooftop') "
                "and YEAR == 2040 "
                "and `MAX CAPACITY [MW]` > 0"
            ).NODE.unique()
        )
    )
)

{'ITCO', 'ITVI'}

The missing nodes `ITCO` and `ITVI` are in fact not included in the investment data set. This is because they are virtual nodes used for modelling purposes in Italy.

✅ Therefore, all necessary PECD data is **available** for `Solar PV Rooftop` in 2040!

### 2050

Filter for columns with no data

In [43]:
pecd_solar_rooftop_2050.loc[:, (pecd_solar_rooftop_2050 == 0).all()]

,AL00,AT00,BA00,BE00,BG00,CH00,CY00,CZ00,DE00,DKE1,DKW1,ES00,FI00,LUB1,LUF1,LUV1,NON1,SE01,ITCO,ITVI
2013-03-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-07 19:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 20:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
pecd_not_available = set(
    pecd_solar_rooftop_2050.loc[:, (pecd_solar_rooftop_2050 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_solar_rooftop_2050.columns))} nodes is missing."
)
pecd_not_available

Data for 20 out of 54 nodes is missing.

{'AL00',
 'AT00',
 'BA00',
 'BE00',
 'BG00',
 'CH00',
 'CY00',
 'CZ00',
 'DE00',
 'DKE1',
 'DKW1',
 'ES00',
 'FI00',
 'ITCO',
 'ITVI',
 'LUB1',
 'LUF1',
 'LUV1',
 'NON1',
 'SE01'}

Compare with Offshore nodes that have no capacity potential

In [45]:
tech_not_available = set(
    investment_data_trajectories.query(
        "TECHNOLOGY.str.contains('Solar PV Rooftop') "
        "and `MAX CAPACITY [MW]` == 0 "
        "and YEAR == 2050"
    ).NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

11 techs have MAX_MW of zero in that year.

{'AL00',
 'BA00',
 'DEKF',
 'DKKF',
 'GR03',
 'LUB1',
 'LUF1',
 'LUV1',
 'ME00',
 'NON1',
 'SE01'}

In [46]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(pecd_solar_rooftop_2050.columns)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 13 out of 43 nodes with available capacity is missing.

{'AT00',
 'BE00',
 'BG00',
 'CH00',
 'CY00',
 'CZ00',
 'DE00',
 'DKE1',
 'DKW1',
 'ES00',
 'FI00',
 'ITCO',
 'ITVI'}

Verify that the nodes with missing data are indeed included with as a node and with a max potential > 0

In [47]:
(
    difference.difference(
        set(
            investment_data_trajectories.query(
                "NODE in @difference "
                "and TECHNOLOGY.str.contains('Solar PV Rooftop') "
                "and YEAR == 2050 "
                "and `MAX CAPACITY [MW]` > 0"
            ).NODE.unique()
        )
    )
)

{'ITCO', 'ITVI'}

Only the missing nodes `ITCO` and `ITVI` are in fact not included in the investment data set. This is because they are virtual nodes used for modelling purposes in Italy.

⚠️ The other 11 nodes are **missing** PECD data for `Solar PV Rooftop` in 2050!

- `AT00`
- `BE00`
- `BG00`
- `CH00`
- `CY00`
- `CZ00`
- `DE00`
- `DKE1`
- `DKW1`
- `ES00`
- `FI00`

<a id='pv-utility'></a>
## LF Solar PV Utility

Load and investigate processed pecd data for Solar PV Utility for 2030, 2040 and 2050

Look at the difference

In [48]:
pecd_solar_utility_2030 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_LFSolarPVUtility_2030.csv", index_col=0
)
pecd_solar_utility_2040 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_LFSolarPVUtility_2040.csv", index_col=0
)
pecd_solar_utility_2050 = pd.read_csv(
    "../resources/test-sector-tyndp/pecd_data_LFSolarPVUtility_2050.csv", index_col=0
)

### 2030

Filter for columns with no data

In [49]:
pecd_solar_utility_2030.loc[:, (pecd_solar_utility_2030 == 0).all()]

                     LUB1  LUF1  LUV1  NON1  SE01  ITCO  ITVI
2013-03-01 00:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 01:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 02:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 03:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 04:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                   ...   ...   ...   ...   ...   ...   ...
2013-03-07 19:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 20:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 21:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 22:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 23:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[168 rows x 7 columns]

In [50]:
pecd_not_available = set(
    pecd_solar_utility_2030.loc[:, (pecd_solar_utility_2030 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_solar_utility_2030.columns))} nodes is missing."
)
pecd_not_available

Data for 7 out of 54 nodes is missing.

{'ITCO', 'ITVI', 'LUB1', 'LUF1', 'LUV1', 'NON1', 'SE01'}

Compare with Offshore nodes that have no capacity potential

In [51]:
tech_not_available = set(
    investment_data_trajectories.query(
        "TECHNOLOGY.str.contains('Solar PV Utility') "
        "and `MAX CAPACITY [MW]` == 0 "
        "and YEAR == 2030"
    ).NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

21 techs have MAX_MW of zero in that year.

{'BE00',
 'CH00',
 'DEKF',
 'DKKF',
 'EE00',
 'FR00',
 'GR00',
 'GR03',
 'LT00',
 'LUB1',
 'LUF1',
 'LUV1',
 'NOM1',
 'NON1',
 'NOS0',
 'PL00',
 'SE02',
 'SE03',
 'SE04',
 'SI00',
 'SK00'}

In [52]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(pecd_solar_utility_2030.columns)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 3 out of 33 nodes with available capacity is missing.

{'ITCO', 'ITVI', 'SE01'}

Verify that the nodes with missing data are indeed included with as a node and with a max potential > 0

In [53]:
(
    difference.difference(
        set(
            investment_data_trajectories.query(
                "NODE in @difference "
                "and TECHNOLOGY.str.contains('Solar PV Utility') "
                "and YEAR == 2030 "
                "and `MAX CAPACITY [MW]` > 0"
            ).NODE.unique()
        )
    )
)

{'ITCO', 'ITVI'}

In fact, only the missing nodes `ITVI` and `ITCO` are not included. This. The missing node `SE01` is included in the investment data set and have a max capacity > 0.

- `SE01`

⚠️ Therefore, some necessary PECD data is **missing** for `Solar PV Utility` for 2030!

### 2040

Filter for columns with no data

In [54]:
pecd_solar_utility_2040.loc[:, (pecd_solar_utility_2040 == 0).all()]

                     LUB1  LUF1  LUV1  NON1  SE01  ITCO  ITVI
2013-03-01 00:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 01:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 02:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 03:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-01 04:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                   ...   ...   ...   ...   ...   ...   ...
2013-03-07 19:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 20:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 21:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 22:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-03-07 23:00:00   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[168 rows x 7 columns]

In [55]:
pecd_not_available = set(
    pecd_solar_utility_2040.loc[:, (pecd_solar_utility_2040 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_solar_utility_2040.columns))} nodes is missing."
)
pecd_not_available

Data for 7 out of 54 nodes is missing.

{'ITCO', 'ITVI', 'LUB1', 'LUF1', 'LUV1', 'NON1', 'SE01'}

Compare with Offshore nodes that have no capacity potential

In [56]:
tech_not_available = set(
    investment_data_trajectories.query(
        "TECHNOLOGY.str.contains('Solar PV Utility') "
        "and `MAX CAPACITY [MW]` == 0 "
        "and YEAR == 2040"
    ).NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

14 techs have MAX_MW of zero in that year.

{'BE00',
 'CH00',
 'DEKF',
 'DKKF',
 'LUB1',
 'LUF1',
 'LUV1',
 'NOM1',
 'NON1',
 'NOS0',
 'SE02',
 'SE03',
 'SE04',
 'SI00'}

In [57]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(pecd_solar_utility_2040.columns)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 3 out of 40 nodes with available capacity is missing.

{'ITCO', 'ITVI', 'SE01'}

Verify that the nodes with missing data are indeed included with as a node and with a max potential > 0

In [58]:
(
    difference.difference(
        set(
            investment_data_trajectories.query(
                "NODE in @difference "
                "and TECHNOLOGY.str.contains('Solar PV Utility') "
                "and YEAR == 2040 "
                "and `MAX CAPACITY [MW]` > 0"
            ).NODE.unique()
        )
    )
)

{'ITCO', 'ITVI'}

In fact, only the missing nodes `ITVI` and `ITCO` are not included. This. The missing node `SE01` is included in the investment data set and have a max capacity > 0.

- `SE01`

⚠️ Therefore, some necessary PECD data is **missing** for `Solar PV Utility` for 2040!

### 2050

Filter for columns with no data

In [59]:
pecd_solar_utility_2050.loc[:, (pecd_solar_utility_2050 == 0).all()]

,AL00,AT00,BA00,BE00,BG00,CH00,CY00,CZ00,DE00,DKE1,DKW1,ES00,FI00,LUB1,LUF1,LUV1,NON1,SE01,ITCO,ITVI
2013-03-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-03-07 19:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 20:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013-03-07 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
pecd_not_available = set(
    pecd_solar_utility_2050.loc[:, (pecd_solar_utility_2050 == 0).all()].columns
)
print(
    f"Data for {len(pecd_not_available)} out of {len(set(pecd_solar_utility_2050.columns))} nodes is missing."
)
pecd_not_available

Data for 20 out of 54 nodes is missing.

{'AL00',
 'AT00',
 'BA00',
 'BE00',
 'BG00',
 'CH00',
 'CY00',
 'CZ00',
 'DE00',
 'DKE1',
 'DKW1',
 'ES00',
 'FI00',
 'ITCO',
 'ITVI',
 'LUB1',
 'LUF1',
 'LUV1',
 'NON1',
 'SE01'}

Compare with Offshore nodes that have no capacity potential

In [61]:
tech_not_available = set(
    investment_data_trajectories.query(
        "TECHNOLOGY.str.contains('Solar PV Utility') "
        "and `MAX CAPACITY [MW]` == 0 "
        "and YEAR == 2050"
    ).NODE.unique()
)
print(f"{len(tech_not_available)} techs have MAX_MW of zero in that year.")
tech_not_available

15 techs have MAX_MW of zero in that year.

{'BE00',
 'CH00',
 'DEKF',
 'DKKF',
 'LUB1',
 'LUF1',
 'LUV1',
 'MT00',
 'NOM1',
 'NON1',
 'NOS0',
 'SE02',
 'SE03',
 'SE04',
 'SI00'}

In [62]:
difference = set(list(pecd_not_available.difference(tech_not_available)))
print(
    f"Data for {len(difference)} out of {len(set(pecd_solar_utility_2050.columns)) - len(tech_not_available)} nodes with available capacity is missing."
)
difference

Data for 14 out of 39 nodes with available capacity is missing.

{'AL00',
 'AT00',
 'BA00',
 'BG00',
 'CY00',
 'CZ00',
 'DE00',
 'DKE1',
 'DKW1',
 'ES00',
 'FI00',
 'ITCO',
 'ITVI',
 'SE01'}

Verify that the nodes with missing data are indeed included with as a node and with a max potential > 0

In [63]:
(
    difference.difference(
        set(
            investment_data_trajectories.query(
                "NODE in @difference "
                "and TECHNOLOGY.str.contains('Solar PV Utility') "
                "and YEAR == 2050 "
                "and `MAX CAPACITY [MW]` > 0"
            ).NODE.unique()
        )
    )
)

{'ITCO', 'ITVI'}

In fact, only the missing nodes `ITVI` and `ITCO` are not included. This. The other 12 missing nodes are included in the investment data set and have a max capacity > 0.

- `AL00`
- `AT00`
- `BA00`
- `BG00`
- `CY00`
- `CZ00`
- `DE00`
- `DKE1`
- `DKW1`
- `ES00`
- `FI00`
- `SE01`

⚠️ Therefore, some necessary PECD data is **missing** for `Solar PV Utility` for 2050!

## Solar CSP

Check if solar CSP is indeed modelled in TYNDP as there is limited to no mention of Solar CSP in the methodology report and the Scenario results.

In [64]:
investment_data_trajectories.query("TECHNOLOGY.str.contains('CSP')")

Empty DataFrame
Columns: [NODE, SCENARIO, TECHNOLOGY, YEAR, MIN CAPACITY [MW], MAX CAPACITY [MW]]
Index: []

In [65]:
investment_data_generators.query("TECHNOLOGY.str.contains('CSP')")

,NODE,YEAR,SCENARIO,TECHNOLOGY,CAPEX [€/MW],OPEX[€/MW/a],EFFICIENCY
4,All,2030,Distributed Energy,Solar CSP,0.0,0.0,NaN
27,All,2030,Global Ambition,Solar CSP,0.0,0.0,NaN
50,All,2030,National Trends,Solar CSP,0.0,0.0,NaN
73,All,2035,Distributed Energy,Solar CSP,0.0,0.0,NaN
96,All,2035,Global Ambition,Solar CSP,0.0,0.0,NaN
119,All,2035,National Trends,Solar CSP,0.0,0.0,NaN
142,All,2040,Distributed Energy,Solar CSP,0.0,0.0,NaN
165,All,2040,Global Ambition,Solar CSP,0.0,0.0,NaN
188,All,2040,National Trends,Solar CSP,0.0,0.0,NaN
211,All,2045,Distributed Energy,Solar CSP,0.0,0.0,NaN
234,All,2045,Global Ambition,Solar CSP,0.0,0.0,NaN
257,All,2045,National Trends,Solar CSP,0.0,0.0,NaN
280,All,2050,Distributed Energy,Solar CSP,0.0,0.0,NaN
303,All,2050,Global Ambition,Solar CSP,0.0,0.0,NaN
326,All,2050,National Trends,Solar CSP,0.0,0.0,NaN

Solar CSP has no specified trajectory or potential. It appears for all scenarios in the investment generator datasets, however with no CAPEX, OPEX or efficiency.